

/* background color*/
body{
    background-color: white;
    font-size: 70%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/*logo*/

.logo{
   text-align: center;
}

/*placeholder I'm feeling fantastic -- I'm feeling unwell */

.placehoder{
    position: absolute;
}

/*checkboxes*/
.checkbox{
    text-align: center;

}

/*H1*/
.{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 6.20rem;
}